.formClass,
section {
  width: 50%;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.formClass section {
  width: 100%;
  margin-bottom: 20px;
}

.formClass h1 {
  font-size: 2rem;
  margin: 0.6rem 0;
}
